<script type="text/javascript" charset="utf-8">
  window.page_type = "edit"
  window.player_id = <%= @player.id %>
</script>

<h1>Edit Member</h1>
<%= form_for :player, :url => player_path(@player), :method => :put, :html => {:id => :new_player_form} do |f| %>
  <%= render :partial => 'player_fieldset', :locals => {:f => f} %>
<% end %>

<%= render :partial => 'player_availability' %>
